body {
    font-family: "Noto Sans JP", sans-serif;
}

h2 {
    color: #333;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}
